body {
    font-family: 'PT Serif', serif;
    color: #444;
    font-size: 24px;
}

.remark-slide {
    background: red;
}

.remark-container {
    background: #BBB;
}

h1, h2, h3 {
    font-family: "Fira Sans",Helvetica,sans-serif;
    color: #222;
    font-size: 1rem;
}

blockquote {
    color: #AAA;
}

code {
    font-family: Inconsolata,monospace;
}

.image-50 img {
  width: 50%;
}

.image-256 img {
  width: 256px;
}

.image-64 img {
  width: 128px;
}

/* Syntax highlighting */
pre {
    background: #222;
    font-size: 0.8em;
    padding: 28px;
    border-radius: 5px;
    color: white;
}
.fennelRainbow_p1 { color: #ffff00; font-weight: bold; }
.fennelRainbow_p0 { color: #8080ff; font-weight: bold; }
.fennelRainbow_p2 { color: #00ffff; font-weight: bold; }
.fennelRainbow_p3 { color: #ff40ff; font-weight: bold; }
.Comment { color: #00ffff; font-weight: bold; }
.Constant { color: #ff40ff; font-weight: bold; }
.Special { color: #ff6060; font-weight: bold; }
.Identifier { color: #00ffff; font-weight: bold; }
.Statement { color: #ffff00; font-weight: bold; }

/* Fonts */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(assets/FiraSans-Regular.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(assets/PT_Serif-Web-Regular.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
